@charset "utf-8";
/*mystyle.css*/

[class^="y-"]{
  -webkit-font-smoothing:antialiased;/* 这个属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰舒服。 */
}

*,*::after,*::before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-text-size-adjust:auto !important;
  -ms-text-size-adjust:auto !important;
  -webkit-font-smoothing:antialiased;
}

html{
	font-family:Arial,微软雅黑,Helvetica,sans-serif,黑体,宋体;
  font-size:62.5%;
  // overflow:auto;
  width:100%;
  height:100%;
  -webkit-text-size-adjust:none;
}
body{
	margin:0;
	width:100%;
  height:100%;
  line-height:1;
	font-size:1.2rem;
	color:#000;
	background-color:transparent;

  -webkit-overflow-scrolling:touch;/* 滚动回弹 */
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  font-weight:500;
}

/*a*/
/*a:link{color:#03c;}*/
a:link{color:#777;}
a:visited{color:#666;}
a:hover{color:#f30;}
a:active{color:#c30;}
a{text-decoration:none !important;}

/* input */
input,button,textarea{outline:0;margin:0;}
/* button */
input[disabled],button[disabled]{
  cursor:not-allowed;
  opacity:.6;
}
button,input[type=button],input[type=submit]{
  -webkit-appearance:button;
  cursor:pointer;
}

/* textarea */
textarea{
  // resize:none;
  margin:0;
  overflow:auto;
  height:auto;
}

/*radio,checkbox*/
input[type="radio"],input[type="checkbox"]{
  
}
input[type="radio"][disabled],
input[type="checkbox"][disabled]{
  cursor:not-allowed;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus{
  /*outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;*/
}

input[type="file"]{
  display:block;
}
input[type="range"]{
  display:block;
  width:100%;
}
select[multiple],select[size]{
  height:auto;
}

/*ul*/
ul{list-style:none;padding:0;margin:0;}

/*table*/
table{border-spacing:0;border-collapse:collapse;}

/*span 除掉空隙*/
span{
  font-size:1.3rem;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:middle;
}

/*img*/
img{
  vertical-align:bottom;
}

/* 文本溢出显示省略号 */
.p-overflow{  //单行文本溢出显示省略号
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.p-more{  //多行文本溢出显示省略号
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
}
/*自动换行*/
div,p,span{
  /*white-space:normal;
  word-break:break-all;
  word-wrap:break-word;
  hyphens:auto;*/
}
code{
  display:block;
  width:100%;
  background:#333;
  font-size:13px;
  border-radius:5px;
  padding:10px;
  color:#f3f3f3;
  overflow-x:auto;
  overflow-y:auto;
}
code>h2{
  font-size:16px;
  font-weight:600;
  font-style:italic;
  color:#f05050;
  margin:10px 0;
}
code>p{
  margin:8px 0;
}

/*color*/

/**
  红:#ff6161
  橙:#f8a83f
  黄:#f5cd50
  绿:#6dcc51
  蓝:#4db8f6
  紫:#d088e0
  灰:#a5a5a7
**/

.bg-white{background-color:#fff !important;}
.bg-purple{background-color:#af5cc1 !important;}
.bg-green{background-color:#27c24c !important;}
.bg-red{background-color:#f05050 !important;}
.bg-yellow{background-color:#fad733 !important;}
.bg-blue{background-color:#23b7e5 !important;}
.bg-orange{background-color:#ff7f50 !important;}
.bg-gray{background-color:#666 !important;}
.bg-primary{background-color:#7266ba !important;}
.bg-success{background-color:#45b6af !important;}
.bg-danger{background-color:#f3565d !important;}
.bg-warning{background-color:#dfba49 !important;}
.bg-info{background-color:#24cbe5 !important;}
.bg-tip{background-color:#ff9655 !important;}
.bg-default{background-color:#999 !important;}

.purple{color:#af5cc1 !important;}
.green{color:#27c24c !important;}
.red{color:#f05050 !important;}
.yellow{color:#fad733 !important;}
.blue{color:#23b7e5 !important;}
.orange{color:#ff7f50 !important;}
.gray{color:#666 !important;}
.primary{color:#7266ba !important;}
.success{color:#45b6af !important;}
.danger{color:#f3565d !important;}
.warning{color:#dfba49 !important;}
.info{color:#24cbe5 !important;}
.tip{color:#ff9655 !important;}
.default{color:#999 !important;}

/*padding*/
.pxs{padding:5px !important;}
.ps{padding:10px !important;}
.p{padding:15px !important;}
.pl{padding:20px !important;}

/*margin*/
.mxs{margin:5px !important;}
.ms{margin:10px !important;}
.m{margin:15px !important;}
.ml{margin:20px !important;}

.mlxs{margin-left:5px !important;}
.mls{margin-left:10px !important;}
.ml{margin-left:15px !important;}
.mll{margin-left:20px !important;}

.mrxs{margin-right:5px !important;}
.mrs{margin-right:10px !important;}
.mr{margin-right:15px !important;}
.mrl{margin-right:20px !important;}

.mtxs{margin-top:5px !important;}
.mts{margin-top:10px !important;}
.mt{margin-top:15px !important;}
.mtl{margin-top:20px !important;}

.mbxs{margin-bottom:5px !important;}
.mbs{margin-bottom:10px !important;}
.mb{margin-bottom:15px !important;}
.mbl{margin-bottom:20px !important;}


/*flex*/
.flex-container{
	display:-webkit-flex;
	display:flex;
}
/*animation*/
@keyframes fade-in-left{
  0%{
    opacity:0;
    transform:translate3d(-20px,0,0);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
.fade-in-left{
  animation:fade-in-left .5s;
}
@keyframes fade-in-right{
  0%{
    opacity:0;
    transform:translate3d(20px,0,0);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
.fade-in-right{
  animation:fade-in-right .5s;
}
@keyframes fade-in-up{
  0%{
    opacity:0;
    transform:translate3d(0,20px,0);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
.fade-in-up{
  animation:fade-in-up .5s;
}
@keyframes fade-in-down{
  0%{
    opacity:0;
    transform:translate3d(0,-20px,0);
  }
  100%{
    opacity:1;
    transform:none;
  }
}
.fade-in-down{
  animation:fade-in-down .5s;
}

/*notification*/
@keyframes top-left{
  0%{
    opacity:0;
    transform:translate3d(-50px,0,0);
  }
  100%{
    opacity:.8;
    transform:none;
  }
}
.top-left{
  animation:top-left .5s ease-in-out;
}
@keyframes top-middle{
  0%{
    opacity:0;
    transform:translate3d(0,-20px,0);
  }
  100%{
    opacity:.8;
    transform:none;
  }
}
.top-middle{
  animation:top-middle .5s ease-in-out;
}
@keyframes top-right{
  0%{
    opacity:0;
    transform:translate3d(50px,0,0);
  }
  100%{
    opacity:.8;
    transform:none;
  }
}
.top-right{
  animation:top-right .5s ease-in-out;
}
@keyframes bottom-right{
  0%{
    opacity:0;
    transform:translate3d(50px,0,0);
  }
  100%{
    opacity:.8;
    transform:none;
  }
}
.bottom-right{
  animation:bottom-right .5s ease-in-out;
}

@keyframes toShow{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@keyframes toHide{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

/*@media*/

/* @media screen and (max-width:50em){
  .y-header{
    padding:3em 10% 4em;
  }
  .y-header h1{
    font-size:2em;
  }
} */


/* 滚动条样式 */
/*
::-webkit-scrollbar               滚动条整体部分
::-webkit-scrollbar-thumb         滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-track         滚动条的轨道（里面装有thumb）
::-webkit-scrollbar-button        滚动条轨道两端的按钮，允许通过点击微调小方块的位置
::-webkit-scrollbar-track-piece   内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-corner        边角，及两个滚动条的交汇处
::-webkit-resizer                 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.yscroll ::-webkit-scrollbar{
  width:6px;
  height:6px;
  background-color:#f5f5f5;
}
/*定义滚动条轨道 内阴影+圆角*/
.yscroll ::-webkit-scrollbar-track{
  border-radius:6px;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  background-color:#f5f5f5;
}
/*定义滑块 内阴影+圆角*/
.yscroll ::-webkit-scrollbar-thumb{
  border-radius:6px;
  box-shadow:inset 0 0 3px rgba(0,0,0,.3);
  background-color:#555;
}



























