/*
**	reset.less
**	20170422 __yiru
*/

body{
	background-color:#fff;
	header{
		.y-header{
			.y-brand{
				background-color:#333;
				span{
					color:#23b7e5;
					b{
						color:#f3565d;
					}
				}
			}
			.y-nav{
				background-color:#444;
				a{
					color:#eee;
				}
			}
		}
	}
	aside{
		.y-sidebar{
			background-color:#f7f7f7;
			border-right:1px solid #f0f0f0;
			.y-collapse-wrap{
				background-color:#f7f7f7 !important;
			}
			.y-sidebar-list{
				.y-sidebar-l1{
					background-color:#f7f7f7 !important;
					ul{
						background-color:#fdfdfd !important;
					}
					li{
						border-bottom:1px solid #f0f0f0;
						&:last-of-type{
							border:0;
						}
					}
					a{
						color:#444 !important;
						&:hover{
							background-color:transparent!important;
							// background-color:#f0f0f0!important;
							color:#f3565d!important;
						}
						&.active{
							background-color:transparent!important;
							color:#ff7f50!important;
						}
					}
				}
			}
		}
	}
	main{
		.y-main{
			background-color:#fff;
		}
	}
}

@media screen and (max-width:768px){
	body{
		header{
			.y-header{
				.y-nav{
			  	>.y-nav-left{
						
					}
					>.y-nav-right{
						background-color:#444;
					}
			  }
			}
		}
		aside{
			.y-sidebar,.right-bar{
				
			}
		}
		main{
			.y-main{
				
			}
		}
	}
}