{
  "presets": [["es2015",{ "modules":false ,"loose": true }], "react", "stage-0"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy"
      ]
    },
    "production": {
      "plugins":[]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
